<ion-content scroll="false">
    <div class="splash-bg"></div>
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">
        {{ 'The app that will help you improve you consumer satisfaction'  }}
      </div>
    </div>
    <div pad >
      <ion-button size="default" color="tertiary" expand="full"(click)="signup()" routerLinkActive="router-link-active"  >{{ 'SIGNUP' }}</ion-button>
      <ion-button size="default" color="light" expand="block" class="button2"(click)="login()">{{ 'LOGIN'  }}</ion-button>
      
    </div>
  </ion-content>
  
  
  
