<!-- <ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="assets/logo.png" class="img-logo">
            <ion-text padding>
              <h2 no-margin margin-vertical text-center>Welcome to Ionic 4 Receive SMS</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email"  class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Password"  class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-input clearInput type="tel" [(ngModel)]="OTP" maxlength="6" class="otpinput" padding-horizontal>
            </ion-input>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row  class="OTP-border">
          <ion-col>
            <div>
              <ion-input name="1" readonly type="tel"  maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="2" readonly type="tel" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="3" readonly type="tel"  maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="4" readonly type="tel"  maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="5" readonly type="tel"  maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="6" readonly type="tel"  maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-text class="small">OTPmessag</ion-text>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col>
            <ion-button  expand="block" (click)="next()" color="undefined" class="transition">
              <strong class="white">
                Next</strong>
              </ion-button>
            <ion-button *ngIf="showOTPInput" expand="block" (click)="register()" color="undefined" class="transition">
              <strong class="white">
                Register</strong></ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text text-center class="block">Already have an account ?
              <span class="bold">Login here</span></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text text-center class="block bold">Forgot Password</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title text-center>
      Made by Enappd
    </ion-title>
  </ion-toolbar>
</ion-footer> -->

<ion-card no-padding no-margin class="no-border-radius segment-card">
 
  <ion-tab-button class="segment-item" tab="account">
    <ion-icon name="person"></ion-icon>
    <ion-label>Label1</ion-label>
</ion-tab-button>
<ion-tab-button class="segment-item" tab="contact">
    <ion-icon name="call"></ion-icon>
    <ion-label>Label2</ion-label>
</ion-tab-button>
<ion-tab-button class="segment-item" tab="settings">
    <ion-icon name="settings"></ion-icon>
    <ion-label>Label3</ion-label>
</ion-tab-button>


<ion-card/>