
 <ion-header >
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/clients-list"></ion-back-button>
          <ion-title>Customers</ion-title>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
        
        <ion-content class="container">
         <ion-list lines="full" >
            
             <ion-list-header class="h4c"> <h4 color="medium-tint">Contact</h4></ion-list-header>
             <ion-item class="form-group">
              <ion-label class="label"  padding-end class="name">Full Name :</ion-label>
              <ion-input [(ngModel)]="client.FullName" type="text" placeholder="stacked" padding-start></ion-input>
             </ion-item>
             <ion-item class="form-group">
                <ion-label class="label"  class="name">Email :</ion-label>
                <ion-input [(ngModel)]="client.email" type="text" placeholder="email"  class="input"></ion-input>
              </ion-item>
              <ion-item class="form-group">
                  <ion-label class="label"  class="name">Gender :</ion-label>
                  <ion-input [(ngModel)]="client.Gender" type="text" placeholder="gender" class="input" ></ion-input>
              </ion-item>
              <ion-list-header class="h4c"> <h4  color="medium">Measurement(meter)</h4> </ion-list-header>

              <ion-row class="body">        
               <ion-col size="4" >
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel"  >Bust:</ion-label>
                       <ion-input  [(ngModel)]="client.Bust" class="inputl"   ></ion-input>
                   </ion-item>
                </ion-col>
                <ion-col size="8">
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel"  >Bust Separation:</ion-label>
                       <ion-input  [(ngModel)]="client.Bustseparation" class="inputl"  ></ion-input>
                   </ion-item>
                 </ion-col>
                </ion-row>
              
                <ion-row>
                  <ion-col size="12">
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel" >Point of bust:</ion-label>
                       <ion-input  [(ngModel)]="client.poinOfBurst"   ></ion-input>
                   </ion-item>
                  </ion-col>
                <ion-col size="12">
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel" >Front neck to waist:</ion-label>
                       <ion-input  [(ngModel)]="client.FrontNeckToWaist"  ></ion-input>
                   </ion-item>
                   
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label"class="namel">Upper arm:</ion-label>
                       <ion-input  [(ngModel)]="client.upperArm"  ></ion-input>
                   </ion-item>
                </ion-grid>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label"class="namel">thigh:</ion-label>
                       <ion-input  [(ngModel)]="client.Thigh"  ></ion-input>
                   </ion-item>
                   
                </ion-grid>
              </ion-row>
              <ion-row>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel">Back width:</ion-label>
                       <ion-input  [(ngModel)]="client.BackWiidth"  ></ion-input>
                   </ion-item>
                </ion-grid>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel"> Nick width:</ion-label>
                       <ion-input [(ngModel)]="client.NeckWidth"  ></ion-input>
                   </ion-item>
                   
                </ion-grid>
              </ion-row>
              <ion-row>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel">Pants lenh:</ion-label>
                       <ion-input  [(ngModel)]="client.pantsLenght"  ></ion-input>
                   </ion-item>
                </ion-grid>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label"class="namel">Shoulder:</ion-label>
                       <ion-input  [(ngModel)]="client.Shoulder" ></ion-input>
                   </ion-item>
                   
                </ion-grid>
              </ion-row>
              <ion-row>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel">Sleeve length:</ion-label>
                       <ion-input    [(ngModel)]="client.sleeeLenght" ></ion-input>
                   </ion-item>
                </ion-grid>
                <ion-grid>
                   <ion-item class="form-group">
                       <ion-label class="label" class="namel">Under burst:</ion-label>
                       <ion-input   [(ngModel)]="client.UNderBurst" ></ion-input>
                   </ion-item>
                   
                </ion-grid>
              </ion-row>
         </ion-list>
      
         
         <ion-item *ngIf="!clientId" padding-bottom >
           <ion-button slot="end" size="large" expand="full" color="tertiary">Register</ion-button>
         </ion-item>
 
          <ion-item  *ngIf="clientId " >
            <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-fab-button color="tertiary" vetical="end" horizontal="end" [routerLink]="['/tabs/clients-list']" (click)="updateclient()"  >
                <ion-icon name="create"></ion-icon>
              </ion-fab-button>
           </ion-fab>     
          </ion-item >
     
            
         
</ion-content>
         
           
    
