.label{
   
}
.padding-left{
    margin-left: 3rem;
}
.name{
    font-size: 15px;
    font-weight: bold;
    font-family:   'Trebuchet MS', sans-serif;
    word-wrap: 1px;
    

}
.input{
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    font-family:  'Trebuchet MS', sans-serif;
    word-spacing: 1px;


}
.container{
    font-family:  'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    word-spacing: 1px;
}
.body{
    font-family:  'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    
    


}
.namel{
    margin:0px !important;
    padding: 0px !important;
    font-size: 15px;
    font-weight: bold;
    font-family:   'Trebuchet MS', sans-serif;
  

}
.inputl{
    margin:0px !important;
    padding: 0px !important;
    color: rgb(22, 21, 21);
    font-family:  'Trebuchet MS', sans-serif;
    

}
h4{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing:1px;
    
}
.h4c{
    background-color:gainsboro;
    color:gray;
}