

.name{
    font-size: 15px;
    font-weight: bold;
    font-family:   'Trebuchet MS', sans-serif;
    word-wrap: 1px;
    

}
.dis{
    text-align: center !important;
    padding-right: 10px;
}
.input{
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin-left: 4rem;
    font-family:  'Trebuchet MS', sans-serif;
    word-spacing: 1px;


}
.container{
    font-family:  'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    word-spacing: 1px;
}
.body{
    font-family:  'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;

}
.native-input.sc-ion-input-md {
    padding-left: 0;
}
.namel{
    margin-left: 0;
    padding-left: 0;
    padding:0;
    margin: 0;
    font-size: 15px;
    font-family:   'Trebuchet MS', sans-serif;
  

}
.inputl{
    margin:0 !important;
    color: rgb(22, 21, 21);
    font-family:  'Trebuchet MS', sans-serif;
    width: 60rem;
    padding:0;
    margin: 0;

}
input{
    margin-left: 0;
    padding-left: 0;
    padding:0;
    margin: 0;
}
.label{
    margin-left: 0;
    padding-left: 0;
}
h4{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing:1px;
    
}
.h4c{
    background-color:gainsboro;
    color:gray;
}
