.icon{
    font-size: 2rem;
}
.icon1{
    font-size: 2rem;
    padding: 1rem;
    background-color: black;
}
.icon2{
    font-size: 2rem;
    padding: 1rem;
    padding-right: 1rem;
    background-color: rgb(52, 227, 250);
}
.padd{
    margin-top: 1rem;
}
.p{
    text-align: end;
    margin: 0;
    padding:5px;
    color:black;
    padding-right: 10px;
    padding-top:5px;

}

.error{
    color: red;
    font-size: 16px;
    padding-top:10px; 
}
div{
    text-align: center;
}
.full{
    width: 80%;

}
span{
    margin:0 !important;
    padding: 0 !important;
}