<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/welcome"></ion-back-button>
        </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
   
   <ion-content >
      <div class="center">
          <img src="../../../assets/img/ica-slidebox-img-4.png" width="50%" height="50%" alt="">
      </div>

    <div >
      <ion-item>
          <div class="item-note" slot="start">
              <ion-icon name="person" class="icon" color='tertiary'></ion-icon>
          </div>
          <ion-label position="floating"class="label2">Name</ion-label>
        <ion-input type="text" [(ngModel)]="client.name"></ion-input>
      </ion-item>
      <ion-item>
          <div class="item-note" slot="start">
              <ion-icon ios="ios-home" md="md-home" class="icon" color='tertiary'></ion-icon>
          </div>
          <ion-label position="floating"class="label2">Address</ion-label>
        <ion-input type="text" [(ngModel)]="client.Address"></ion-input>
      </ion-item>
      <ion-item>
          <div class="item-note" slot="start">
              <ion-icon ios="ios-call" md="md-call" class="icon" color='tertiary'></ion-icon>
          </div>
          <ion-label position="floating"class="label2">Phone Number</ion-label>
        <ion-input type="text" [(ngModel)]="client.phoneNumber" ></ion-input>
      </ion-item>
      <ion-item>
          <div class="item-note" slot="start">
              <ion-icon name="at" class="icon" color='tertiary'></ion-icon>
          </div>
          <ion-label position="floating"class="label2">Email</ion-label>
      <ion-input type="text" [(ngModel)]="client.email" ></ion-input>
      </ion-item>
    
      <ion-item>
          <div class="item-note" slot="start">
              <ion-icon name="lock" class="icon" color='tertiary'></ion-icon>
          </div>
          <ion-label position="floating"class="label2">password</ion-label>
         <ion-input type="password" [(ngModel)]="client.password" ></ion-input>
      </ion-item><p class="p">Already a member just  <a [routerLink]="['/login']" routerLinkActive="router-link-active"  >LOGIN</a> </p>

    </div>
      <ion-button size="large" color="tertiary" expand="full"  class="padd" (click)="addclient()">Register</ion-button>
      <div class="error"> {{ erromassage }} </div>
  
    </ion-content>
    