<ion-content>
  <ionic-calendar-date-picker [notInCalendarStyle]="{'color': 'red', 'font-weight': 'bold'}"></ionic-calendar-date-picker>

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>REGISTER</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

   <p> <span><p>Acount</p> </span> <span>20 000</span></p>
   <p> <span><p>Acount</p> </span> <span>20 000</span></p>
   <p> <span><p>Acount</p> </span> <span>20 000</span></p>
   <p> <span><p>Acount</p> </span> <span>20 000</span></p>
   <p> <span><p>Acount</p> </span> <span>20 000</span></p>

    <ion-row>
      <ion-col size="4">
        <p>Acount</p>
      </ion-col>
      <ion-col size="4">
        <p>20 000</p>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <ion-col size="4">
          <p>Discount</p>
      </ion-col>
      <ion-col size="4">
          <p>20 000</p>
      </ion-col>
      <ion-col size="4">
      </ion-col>
     
      <ion-col size="4">
          <p>sub total</p>
      </ion-col>
      <ion-col size="4">
          <p>20 000</p>
      </ion-col>
      <ion-col size="4">
      </ion-col>
          
      <ion-col size="4">
          <p>withdrowal time</p>
      </ion-col>
      <ion-col size="4">
          <p>20 000</p>
      </ion-col>
      <ion-col size="4">
      </ion-col>
    </ion-row>
  </ion-content>
  
</ion-content>
