.h1{
  margin:0px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 20px;
  font-weight: 100;
 
}
.h3{
    padding-top:5px;
    margin:0px;
    font-family:  'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
     word-spacing: 2px;

  }
  .icon{
    font-size: 1rem;
  }
 
 .p{
    padding-top:5px;
    margin:0px;
    font-family:  'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    

  } 

  .fake-skeleton{
    width: 60%;
  }
  .font{
    font-size: 20px;
  }