.h1{
  padding-top:10px;
  margin:0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.h3{
    padding-top:5px;
    margin:0px;
    font-family:  'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
     word-spacing: 2px;

  }
 
 .p{
    padding-top:5px;
    margin:0px;
    font-family:  'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;

  } 

  .fake-skeleton{
    width: 60%;
  }