<ion-header>
  <ion-toolbar color="tertiary" slot="end" >
    <ion-toolbar color="tertiary">
       <ion-title>deliver</ion-title>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning">
      <ion-segment-button value="0">
        OPEN
      </ion-segment-button>
      <ion-segment-button value="1">
        PROGRESS
      </ion-segment-button>
      <ion-segment-button value="2" href="">
        DELIVER
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>

  
    <ion-slides #slides mode="md" (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide>
        <ion-nav [root]="open"></ion-nav>
      </ion-slide>
      <ion-slide>
        <ion-nav [root]="progress"></ion-nav>
      </ion-slide>
      <ion-slide>
        <ion-nav [root]="diliver"></ion-nav>
      </ion-slide>
    </ion-slides>
  
  </ion-content>
  